// 项目提供scss全局变量 - 数值常量
// 定义项目主题颜色

/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */
:root {
  // header高度
  --lx-header-height: 60px;
  // 主容器高度
  --lx-main-container-height: calc(100vh - var(--lx-header-height));

  // 间距
  --lx-space-100: 100px;
  --lx-space-80: 80px;
  --lx-space-60: 60px;
  --lx-space-40: 40px;
  --lx-space-20: 20px;
  --lx-space-10: 10px;
}
